/* --------------------------------------------------
 ======== Website responsiveness styles ========== 
 ---------------------------------------------------- */

/* ---- navbar ------ */

@media(max-width: 650px){
	nav{
		height: 100px;
		position: fixed;
		z-index: 9999;
		background: transparent;
	}
	.navbar-brand{
		width: 17%;
		-webkit-width: 17%;
	}
	.navbar-brand img{
		width: 100%;
		position: relative;
		top: 0px;
		left: 10px;
	}
	.navbar-toggler{
   		display: block;
		position: absolute;
    	top: 0;
    	right: 20px;
    	-webkit-right: 20px !important;
    	margin-top: 28px;
    	background: #1d6738;
	}
	.navbar-toggler .navbar-toggler-icon{
    	color: #b9ce33;
    	margin-top: 5px;
    	padding-top: 3px;
    }
	.dropdown:focus .dropdown-menu{
		display: block;
	}
    .navbar-collapse{
    	background: rgba(12, 19, 44, 0.98);
    	padding: 25px;
    }
    .navbar-collapse ul li{
    	border-top: 1px solid #555;
    	padding: 5px 10px;
    }
    .navbar-collapse ul li:last-child{
    	padding-top: 20px;
    }
    .dropdown-menu a{
		padding: 10px 30px;
	}
	.nav_reg_button{
		display: block;
		text-align: center;
	}
}
@media(min-width:750px) and (max-width: 1024px){
	nav{
		height: 100px;
		position: fixed;
		z-index: 9999;
		background: transparent;
	}
	.navbar-brand{
		width: 15%;
	}
	.navbar-brand img{
		width: 100%;
		position: relative;
		top: 0;
		left: 10px;
	}
	.navbar-toggler{
   		display: block;
		position: absolute;
    	top: 0;
    	right: 40px;
    	margin-top: 40px;
    	background: #1d6738;
	}
	.navbar-toggler .navbar-toggler-icon{
    	color: #b9ce33;
    	margin-top: 5px;
    	padding-top: 3px;
    }
	.dropdown:focus .dropdown-menu{
		display: block;
	}
    .navbar-collapse{
    	background: rgba(12, 19, 44, 0.98);
    	padding: 25px;
    }
    .navbar-collapse ul li{
    	border-top: 1px solid #555;
    	padding: 5px 10px;
    }
    .navbar-collapse ul li:last-child{
    	padding-top: 20px;
    }
    .dropdown-menu a{
		padding: 10px 30px;
	}
	.nav_reg_button{
		display: block;
		text-align: center;
	}
}

/* ------- Slider content -------- */

@media(max-width: 650px){
	#index_slider{
		position: relative;
		top: -100px;
		width: 100%;
		height: 100vh;
	}
	#index_slider .carousel-item img{
		width: auto;
		height: 105vh;
	}
	#index_slider .slider-content{
		text-align: center;
		top: 55%;
		left: 0;
	}
	#index_slider .slide-title1{
		font-size: 2.6em;
	}
	#index_slider .slide-title2{
		font-size: 1.97em;
	}
	#index_slider #slider_img2_title1{
		font-size: 2.6em;
	}
	#index_slider .slide-sub-title{
		font-size: 20px;
	}
	.header-title-divider{
		margin: 20px auto;
	}
	#index_slider .slider_btn1{
	    margin-top: 20px;
		margin-left: 20px;
		margin-right: 0;
	}
	#index_slider .slide-title2 span{
		display: none;
	}
	.carousel-control-prev, .carousel-control-next{
		width: 50px;
		height: 50px;
	}
	.carousel-control-prev{
		margin-left: 10px;
	}
	.carousel-control-next{
		margin-right: 10px;
	}
	.slider-png-img-div{
		display: none;
	}
}
@media(min-width:750px) and (max-width: 1024px){
    #index_slider{
        /*height: 100vh;*/
    }
	#index_slider .carousel-item img{
		width: 100%;
		/*height: 80vh;*/
	}
	#index_slider .slider-content{
		text-align: center;
		left: 0;
	}
	#index_slider .slide-title1{
		font-size: 2.5em;
	}
	#index_slider .slide-title2{
		font-size: 2em;
	}
	#index_slider #slider_img2_title1{
		font-size: 2.5em;
	}
	#index_slider .slide-sub-title{
		font-size: 21px;
	}
	.header-title-divider{
		margin: 20px auto;
	}
	#index_slider .slider_btn1{
	    margin-top: 20px;
		margin-left: 20px;
		margin-right: 0;
	}
	#index_slider .slide-title2 span{
		display: none;
	}
	.carousel-control-prev, .carousel-control-next{
		width: 50px;
		height: 50px;
	}
	.carousel-control-prev{
		margin-left: 10px;
	}
	.carousel-control-next{
		margin-right: 10px;
	}
	.slider-png-img-div{
		display: none;
	}
}

/* ------- Countdown content -------- */

@media(max-width: 650px){
	#count_down_section{
		padding: 30px 0;
		top: -70px;
		width: 100%;
		background: linear-gradient(125deg, rgba(29, 103, 56,0.9) 50%, rgba(185, 206, 51,0.9) 50%);
	}
	#count_down_section #countdown_title{
		text-align: center;
		font-size: 1.8em;
	}
	.counter-day, .counter-hour, .counter-minute, .counter-second{
		margin: 10px 15px;
	}
	.days, .hours, .minutes, .seconds{
		font-size: 2em !important;
	}
	.smalltext{
		font-size: 1em;
	}
	#countdown_digits{
		text-align: center;
		padding: 0;
	}
	#count_down_section .countdown-container{
		width: 90%;
		margin: 0 auto;
	}
}
@media(min-width:750px) and (max-width: 1024px){
    #count_down_section{
		padding: 30px 0;
		top: -47px;
		width: 100%;
	}
	#count_down_section .countdown-container{
    	width: 85%;
    	margin: 0 auto;
    }
	#count_down_section #countdown_title{
		font-size: 1.5em;
	}
	.counter-day, .counter-hour, .counter-minute, .counter-second{
		margin: 10px 20px;
	}
	.days, .hours, .minutes, .seconds{
		font-size: 2em;
	}
	.smalltext{
		font-size: 1em;
	}
}
/* ------- Intro content -------- */

@media(max-width: 650px){
	.intro_title{
		width: 90%;
		margin: 0 auto;
	}
	#pills-tab{
		width: 85%;
		margin: 0 auto;
	}
	#pills-tab li{
		margin: 5px auto;
	}
	.section_title{
		font-size: 1.9em;
	}
	.section_subtitle{
		font-size: 1em;
	}
	.sppb-cta-text{
	    text-align: justify;
	    -webkit-text-align: justify !important;
	}
	.title_divider{
		width: 15%;
		margin: 20px auto 40px;
	}
	.video-icon{
		top: 35%;
		left: 42%;
		font-size: 1.5em;
		z-index: 1;
		width: 60px;
		height: 60px;
		border: 5px solid #b9ce33;
		border-radius: 100%;
	}
	.intro_tabs #pills-tab li a{
		margin-top: 15px;
	}
	#pills-tab li #pills-experience-tab{
    	background: linear-gradient(125deg, #0c132c 50%, #177496 50%);
    	background-size: 147%;
    	background-position: 0%;
    	transition: all 0.3s ease;
    	padding: 10px 11px 10px 21px;
    }
    #pills-tab li #pills-experience-tab i{
    	margin-left: 45px;
    	margin-right: 15px;
    }
}
@media(min-width:750px) and (max-width: 1024px){
    #pills-tab{
		width: 90%;
		margin: 0 auto;
	}
    #pills-tab{
		text-align:center;
	}
    #pills-tab li{
		margin: 5px 5px;
	}
	#pills-tab li a{
    	color: #fff;
    	background: linear-gradient(125deg, #0c132c 50%, #177496 50%);
    	background-size: 140%;
    	background-position: 5%;
    	font-size: 14px;
    	font-family: Open Sans;
    	font-weight: 700;
    	border-radius: 0;
    	padding: 10px 10px 10px 20px;
    	transition: all 0.3s ease;
    }
    #pills-tab li #pills-experience-tab{
    	background: linear-gradient(125deg, #0c132c 50%, #177496 50%);
    	background-size: 147%;
    	background-position: 0%;
    	transition: all 0.3s ease;
    	padding: 10px 10px 10px 20px;
    }
    #pills-tab li a i{
    	margin-left: 35px;
    	margin-right: 10px;
    }
}

/* ------- Facts content -------- */

@media(max-width: 650px){
	.facts-area {
	    padding: 70px 50px;
	    text-align: center;
	}
	.facts-area .ts-facts{
		/*margin-top: 10px;*/
		text-align: center;
		width: 50%;
		margin 10px auto 0;
	}
	.ts-facts .ts-facts-icon {
	    display: inline-block;
	    vertical-align: top;
	    margin: 15px 25px 0 50px;
	}
	.ts-facts .ts-facts-icon i{
	    color: #fff;
	    font-size: 24px;
	    width: 60px;
	    height: 60px;
	    line-height: 52px;]
	}
	.ts-facts .ts-facts-content{
		text-align: center;
	}
	.ts-facts .ts-facts-content .ts-facts-num{
		font-size: 2.5em;
	}
	.ts-facts .ts-facts-content .ts-facts-title{
		font-size: 1em;
	}
}
@media(max-width: 1024px){
	.facts-area {
	    padding: 70px 0;
	}
	.facts-area .ts-facts{
		margin-top: 10px;
	}
	.ts-facts .ts-facts-icon {
	    display: inline-block;
	    vertical-align: top;
	    margin: 15px 10px 0 0;
	}
	.ts-facts .ts-facts-icon i{
	    color: #fff;
	    font-size: 24px;
	    width: 60px;
	    height: 60px;
	    line-height: 52px;]
	}
	.ts-facts .ts-facts-content{
		text-align: center;
	}
	.ts-facts .ts-facts-content .ts-facts-num{
		font-size: 2.3em;
	}
	.ts-facts .ts-facts-content .ts-facts-title{
		font-size: 1em;
	}
}

/* ------- Speakers content -------- */

@media(max-width: 650px){
	.speaker_row{
		width: 90%;
		margin: 0 auto;
	}
	.ts-speaker {
	    height: auto;
	    margin-bottom: 15px;
	}
	.modal-speaker-info .modal-speaker-name{
	    margin-top: 15px;
	}
}
@media(max-width: 1024px){
	.speaker_row{
		width: 90%;
		margin: 0 auto;
	}
	.ts-speaker {
	    height: auto;
	    margin-bottom: 15px;
	}
}

/* -------- Sponsors ------ */

@media(max-width: 650px){
	#ts-sponsors{
		padding: 70px 30px;
	}
	#left-customers-gradient-div{
		display: none;
	}
	#right-customers-gradient-div{
		display: none;
	}
}
@media(max-width: 1024px){
	#ts-sponsors{
		padding: 70px 10px;
	}
	.sponsor-title{
		font-size: 19px;
	}
}

/* -------- Newslatter content --------- */

@media(max-width: 650px){
	.newsletter-form {
	    padding: 10px 20px;
	}
	.newsletter-form input {
	    width: 70%;
	    display: inline-block;
	    font-size: 12px;
	    text-transform: capitalize;
	    height: 50px;
	    background: #000;
	    background: rgba(0,0,0,.5);
	    border: 1px solid rgba(0,0,0,.5);
	    border-radius: 25px 0 0 25px;
	}
	.newsletter-form button {
	    position: absolute;
	    top: 0;
	    right: -5px;
	    border-radius: 0 25px 25px 0;
	    padding: 15px 20px;
	    height: 50px;
	    font-size: 13px;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 0.8px;
	    line-height: 20px;
	    background: #1d6738;
	    border: 0 !important;
	}
}
@media(max-width: 1024px){
	.newsletter-form {
	    padding: 10px 20px;
	}
	.newsletter-form input {
	    width: 90%;
	    display: inline-block;
	    font-size: 12px;
	    text-transform: capitalize;
	    height: 50px;
	    background: #000;
	    background: rgba(0,0,0,.5);
	    border: 1px solid rgba(0,0,0,.5);
	    border-radius: 25px 0 0 25px;
	}
	.newsletter-form button {
	    position: absolute;
	    top: 0;
	    right: 0px;
	    border-radius: 0 25px 25px 0;
	    padding: 15px 20px;
	    height: 50px;
	    font-size: 13px;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 0.8px;
	    line-height: 20px;
	    background: #1d6738;
	    border: 0 !important;
	}
}
/*------------ Venue section content ----------*/
@media(max-width: 650px){
	#ts-venue{
		width: 100%;
		display: block;
		overflow: hidden;
	}
	.venue-items{
		position: relative;
		width: 100%;
	}
	.modal-header h1{
		font-size: 27px;
	}
	.modal_slider_div{
		width: 100%;
		margin: 0 auto;
	}
	.venue-item-content{
		padding: 80px 0;
	}
	#item1, #item3{
		text-align: center;
	}
	#item2{
		position: relative;
		width: 100%;
		left: 0;
		text-align: center;
		clip-path: none;
		z-index: 1;
	}
}

/* -------  About Page styles ----------- */

@media(max-width: 650px){
	.venue-container{
		width: 90%;
		margin: 0 auto;
	}
	.sppb-cta-text{
		padding-right: 0;
	}
	.feature-box-content{
		margin-left: 80px;
	}
	.feature-box-icon i{
		color: #b9ce33;
		font-size: 1.5em;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		background: #1d6738;
		border-radius: 50%;
		transition: 0.3s;
	}
	.about-tracks{
		padding: 80px 0 40px 0;
	}
	.ts-speaker-image1{
		margin-bottom: 20px;
	}
	.more_about_venue_row .video-icon{
		top: 40%;
		left: 40%;
	}
	.timeline-div{
		width: 25%;
		margin: 0 auto 80px;
		text-align: center;
	}
	.timeline-div-content{
		display: block;
	}
	.timeline-div-content .year-div{
		padding: 10px;
		margin: 10px auto 10px;
	}
	.timeline-div-content .straght-line{
		display: none;
	}
	.timeline-div-content .vertical-line{
		display: block;
		margin: 5px 50%;
		height: 40px;
		border-left: 3px solid #aaaa;
	}
}
@media(min-width: 760px) and (max-width: 1024px){
	.timeline-div{
		width: 100%;
		margin: 0 auto 80px;
		text-align: center;
	}
	.timeline-div-content{
		display: flex;
	}
	.timeline-div-content .year-div{
		padding: 10px;
		margin: 10px auto 10px;
	}
	.timeline-div-content .year-div img{
		width: 45px;
		height: 45px;
	}
	.timeline-div-content .vertical-line{
		display: none;
		margin: 5px 50%;
		height: 40px;
		border-left: 3px solid #aaaa;
	}
}
@media(max-width: 1024px){
	.more_about_venue_row .video-icon{
		top: 45%;
		left: 45%;
	}
}

/* ------- Schedule content -------- */

@media(max-width: 650px){
	.schedule_tabs{
		padding-left: 0px;
	}
	.schedule_tabs{
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	.schedule_tabs ul{
		width: 100%;
		margin: 0 auto;
	}
	.schedule_tabs #pills-tab li a{
		font-size: 13px;
		padding: 10px 20px;
		margin-right: 10px;
	}
	.speakers_set{
		padding-left: 0px;
	}
}
@media(max-width: 1024px){
	.schedule_tabs{
		padding-left: 0px;
	}
	.schedule_tabs{
		width: 90%;
		margin: 0 auto;
	}
	.schedule_tabs ul{
		width: 50%;
		margin: 0 auto;
	}
	.schedule_tabs #pills-tab li a{
		font-size: 13px;
		padding: 10px 20px;
		margin-right: 10px;
	}
	.speakers_set{
		padding-left: 20px;
	}
}

/* ------ Partners Content ------- */

@media(max-width: 650px){
	.partners_titles, .request_form{
		width: 90%;
		margin: 0 auto;
	}
	.card-header h2{
		text-align: center;
	}
	.sponser_row > div{
		margin-top: 30px;
	}
}

/* -------- Teams Styles --------- */

@media(max-width: 600px){
	.teams_tabs #pills-tab li a{
		font-size: 12px;
		letter-spacing: 0;
		padding: 10px 20px;
		margin-right: 8px;
		margin-top: 8px;
	}
	.ts-member{
		margin-bottom: 20px;
	}
	.year-links{
		background: #fff;
		text-align: center;
		padding: 10px 0;
		margin-bottom: 70px;
		width: 100%;
		height: 100%;
	}
	.year-links a{
		font-family: Montserrat;
		font-weight: 700;
		font-size: 14px;
		color: #fff;
		background-color: #1d6738;
		clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 25% 100%, 8% 50%, 25% 0%);
		padding: 11px 16px;
		margin: 0;
		transition: 0.3s;
	}
}
@media(max-width: 1024px){
	.teams_tabs #pills-tab li a{
		font-size: 12px;
		letter-spacing: 0;
		padding: 10px 20px;
		margin-right: 8px;
		margin-top: 8px;
	}
	.ts-member{
		margin-bottom: 20px;
	}
}

/* -------- FAQ content ---------- */

@media(max-width: 650px){
	.title-classic{
		text-align: center;
	}
	.faq_comment{
		padding-left: 0;
	}
}

/* ------ Contact content -------- */

@media(max-width: 650px){
	.inquiry_para{
		text-align: center;
	}
	.contact_form{
		width: 95%;
		margin: 0 auto;
	}
}

/* ------ Registration content -------- */

@media(max-width: 650px){
	.reg-form-content{
        width: 90%;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 40px 40px 20px;
        box-shadow: 0px 6px 14px 1px #ddd;
    }
}