.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;
}
/* =============================== Header Styles =================================== */
nav{
	height: 100px;
	position: fixed;
	z-index: 9999;
	background: transparent;
}
.navbar-brand{
	width: 20%;
}
.navbar-brand img{
	width: 40%;
	position: relative;
	top: 30px;
}
.navbar-toggler{
	position: relative;
	top: 30px;
}
.navbar-nav li{
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	padding: 0 5px;
}
.navbar-nav .nav-item .nav-link{
	transition: 0.2s;
}
.navbar-nav .nav-item .nav-link-group{
	color: #fff;
}
.navbar-nav .nav-item.active .nav-link{
	color: #b9ce33;
}
.navbar-nav .nav-item .nav-link:hover{
	color: #b9ce33;
}
.navbar-nav .active{
	color: #b9ce33;
}
.dropdown-menu{
	background: rgba(185, 206, 51,0.5);
	padding: 5px;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.dropdown-menu a{
	text-transform: none;
	color: #fff;
	font-size: 14px;
	font-family: Roboto;
	font-weight: bold;
	letter-spacing: 0.8px;
	padding: 13px 30px;
	transition: 0.2s;
}
.dropdown-menu a:last-child{
	border-bottom: 0;
}
.dropdown-menu a:hover{
	color: #fff;
	background: rgba(185, 206, 51, 0.6);
}
.link_with_icon{
	display: flex;
}
.link_with_icon i{
	margin: 5px 5px 0 5px;
}
.nav_reg_button{
	/*background: #1d6738;*/
	color: #b9ce33;
	padding: 4px 20px !important;
	margin-top: 3px;
	border-radius: 10px;
	border: 2px solid #b9ce33;
}
.navbar-nav > li:hover > a,
.navbar-nav > .active > a {
    color: #ee163a;
    position: relative;
}
/* =============================== Slider Styles =================================== */

#index_slider{
	position: relative;
	top: -100px;
	height: 80vh;
}
.carousel-indicators li{
	height: 4px;
}
#index_slider .carousel-item img{
	width: 100%;
	height: 100vh;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}
#index_slider .slider-content{
	position: absolute;
	top: 52%;
	left: 10%;
	z-index: 1;
	width: 100%;
    color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#index_slider h2, #index_slider h3{
	font-family: Montserrat;
}
#index_slider .slide-title1{
	font-size: 2.3em;
}
#index_slider .slide-title2{
	font-size: 2.3em;
	margin-top: 10px;
}
#index_slider .slide-sub-title{
	font-size: 22px;
	font-family: Montserrat;
	font-weight: 300;
}
.header-title-divider{
	border-top: 4px solid #b9ce33;
	margin: 20px 0;
	width: 15%;
}
#index_slider .slider_btn, #index_slider .slider_btn1{
	margin-top: 20px;
	color: #b9ce33;
	font-size: 15px;
	font-family: Open Sans;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: transparent;
	border: 2px solid #b9ce33;
	border-radius: 0;
	padding: 7px 20px;
	box-shadow: none;
}
#index_slider .slider_btn1{
	background-color: transparent;
	margin-left: 15px;
}
#index_slider .slider_btn:hover, #index_slider .slider_btn1:hover{
	background-color: rgba(185, 206, 51, 0.5);
	color: #fff;
	border-color: rgba(185, 206, 51, 0.1);
}
.carousel-control-prev, .carousel-control-next{
	text-align: center;
	width: 60px;
	height: 60px;
	top: 50%;
	margin-left: 40px;
	background: rgba(12, 19, 44, 0.6);	/* #0c132c */
	border-radius: 50%;
	transition: 0.3s;
	opacity: 0;
}
.carousel-control-next{
	margin-right: 40px;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
	background: rgba(29, 103, 56, 0.5);
}
#index_slider:hover .carousel-control-prev, #index_slider:hover .carousel-control-next{
	opacity: 1;
}
.slider-png-img-div{
	position: absolute;
	top: 20%;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}
.slider-png-img-div img{
	position: absolute;
	left: 63%;
	width: 34.5%;
	height: auto;
}

/* =============================== Count down section Styles =================================== */

#count_down_section{
	/*background-color: #0c132c;*/
	background: linear-gradient(125deg, rgba(29, 103, 56, 0.6) 50%, rgba(185, 206, 51, 0.6) 50%);
	background-size: 130%;
	background-position: 75%;
	padding: 5px 0;
	position: relative;
	top: -72px;
	/*-webkit-top: -66px;*/
	z-index: 6;
}
#count_down_section .countdown-container{
	width: 65%;
	margin: 0 auto;
}
#count_down_section #countdown_title{
	color: #fff;
	font-size: 1.6em !important;
	font-family: Montserrat;
	font-weight: 400;
	padding: 10px 0;
}
#count_down_section #countdown_title a:hover{
	text-decoration: none;
}
#count_down_section .countdown-col{
	display: inline-flex;
	text-align: center;
	margin-top: 5px;
}
.counter-day, .counter-hour, .counter-minute, .counter-second{
	text-align: center;
	margin: 0 34px;
	color: #fff;
}
.days, .hours, .minutes, .seconds{
	font-size: 2.7em !important;
	font-weight: bold;
	line-height: 100%;
}
.smalltext{
	font-size: 1.2em;
	font-family: Montserrat;
	margin-top: 5px;
	padding-top: 0;
	line-height: 100%;
}

/* =============================== Intro section Styles =================================== */

#index_intro_section{
	/*padding: 20px 0 60px 0;*/
	padding: 80px 0;
	background: linear-gradient(150deg, #fff 50%, #f4f4f4 50%);
	background-size: 200%;
	background-position: 45%;
}
#index_intro_section .intro_title{
	display: block;
	text-align: center;
}
.section_title{
	color: #0c132c;
	font-size: 2.5em;
	font-family: Montserrat;
	font-weight: 700;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.section_subtitle-top{
	font-size: 1.4em;
	font-family: Open Sans;
	color: #1d6738;
}
.section_subtitle{
	color: #0c132c;
	font-size: 1.2em;
	font-family: Open Sans;
	padding-right: 20px;
	padding-left: 20px;
}
.title_divider{
	width: 7%;
	margin: 20px auto 60px;
	border-top: 6px solid #b9ce33;
}
#index_intro_section .intro-video img{
	width: 100%;
	border-radius: 10px;
}
.video-icon{
	position: absolute;
	text-align: center;
	color: #b9ce33;
	display: block;
	top: 37.5%;
	left: 44%;
	font-size: 2em;
	z-index: 1;
	width: 70px;
	height: 70px;
	border: 5px solid #b9ce33;
	border-radius: 100%;
}
.video-icon i {
    margin-left: 7px;
    margin-top: 13px;
}
/*--------intro tabs ------*/
.intro_tabs{
	padding-left: 15px;
}
#pills-tab{
	border:0;
	width: 80%;
	margin: 0 auto;
}
#pills-tab li{
	margin: 0 auto;
}
#pills-tab li a{
	color: #fff;
	background: linear-gradient(125deg, #0c132c 50%, #177496 50%);
	background-size: 140%;
	background-position: 5%;
	font-size: 17px;
	font-family: Open Sans;
	font-weight: 700;
	border-radius: 0;
	padding: 10px 25px 10px 40px;
	transition: all 0.3s ease;
}
#pills-tab li a.active{
	background: linear-gradient(125deg, #1d6738 50%, #b9ce33 50%);
	background-size: 140%;
	background-position: 5%;
}
#pills-tab li #pills-experience-tab{
	background: linear-gradient(125deg, #0c132c 50%, #177496 50%);
	background-size: 147%;
	background-position: 0%;
	transition: all 0.3s ease;
}
#pills-tab li #pills-experience-tab.active{
	background: linear-gradient(125deg, #1d6738 50%, #b9ce33 50%);
	background-size: 147%;
	background-position: 0%;
}
#pills-tab li a i{
	margin-left: 60px;
}
.pill-contents{
    background-color: #fff;
	border-top: 6px solid #177496;
	box-shadow: 1px 8px 12px 1px #ddd;
	margin: 0;
	padding-top: 15px;
	border-radius: 0 0 15px 15px;
}
.tab-content-title{
	color: #0c132c;
	font-size: 1.3em;
	font-weight: bold;
	margin: 8px 0 20px 0;
}
#pills-tabContent div p{
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
}
blockquote{
	font-size: 14px;
	font-style: italic;
	border-left: 4px solid #b9ce33;
	padding: 10px 0 10px 15px;
	color: #555;
}	
#pills-tabContent div ul li{
	font-size: 14px;
	font-family: Roboto;
	color: #333;
}

/* ===================== Facts section styles ============================= */

.facts-area {
    color: #ffffff;
    background-color: #0c132c;
    background-image: url(../images/facts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    padding: 100px 0;
}
.facts-area .ts-facts{
	display: inline-flex;
}
.ts-facts .ts-facts-icon {
    display: inline-block;
    vertical-align: top;
    margin: 15px 25px 0 50px;
}
.ts-facts .ts-facts-icon i{
    color: #b9ce33;
    text-align: center;
    background: transparent;
    width: 75px;
    height: 75px;
    line-height: 70px;
    border: 3px solid #b9ce33;
    border-radius: 100%;
}
.ts-facts .ts-facts-content{
	text-align: center;
}
.ts-facts .ts-facts-content .ts-facts-num{
	font-size: 3.2em;
	font-family: Roboto;
	font-weight: 700;
}
.ts-facts .ts-facts-content .ts-facts-title{
	font-size: 1.1em;
	font-weight: bold;
}

/* =============================== Gallery section Styles =================================== */

#ts-gallery{
	padding: 80px 0;
	background: linear-gradient(150deg, #f4f4f4 50%, #fff 50%);
	background-size: 200%;
	background-position: 30%;
}
#ts-gallery .gallery_title{
	display: block;
	text-align: center;
}
#gallery{
	width: 100%;
	margin:0;
}
.gallery-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 2px #ccc;
}
.gallery-container img {
	width: 100%;
    -webkit-transform: perspective(1px) scale3d(1.1, 1.1, 1);
    transform: perspective(1px) scale3d(1.1, 1.1, 1);
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.gallery-container:hover img {
    -webkit-transform: perspective(1px) scale3d(1.15, 1.15, 1);
    transform: perspective(1px) scale3d(1.15, 1.15, 1);
}
.gallery-container:after {
    opacity: 0;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.gallery-container:hover:after {
    opacity: 1;
}
.gallery-container .gallery-icon {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 20px;
    /*margin-top: -25px;
    margin-left: -25px;*/
    z-index: 1;
    width: 88.5%;
    height: 80%;
    line-height: 140px;
    text-align: center;
    border: 2px solid #b9ce33;
    border-radius: 10px;
    background: transparent;
    font-size: 1.8em;
    color: #b9ce33;
    opacity: 0;
    -webkit-transform: perspective(1px) scale3d(0, 0, 0);
    transform: perspective(1px) scale3d(0, 0, 0);
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.gallery-container:hover .gallery-popup .gallery-icon {
    opacity: 1;
    -webkit-transform: perspective(1px) scale3d(1, 1, 1);
    transform: perspective(1px) scale3d(1, 1, 1);
}

/* ========================== Speakers ========================== */

.ts-speakers {
    color: #ffffff;
    background: linear-gradient(150deg, #fff 50%, #f4f4f4 50%);
	background-size: 180%;
	background-position: 70%;
    /*background-position: 50% 50%;*/
    padding: 80px 0;
}
.ts-speakers .speaker_titles{
	display: block;
	text-align: center;
}
/*.ts-speakers .speaker_titles .section_title, .ts-speakers .speaker_titles .section_subtitle{
	color: #fff;
}*/
/* Speaker item */

.ts-speaker {
    background: transparent;
    position: relative;
    border-radius: 10px;
    height: 340px;
    transition: 400ms;
}
/* speakers row */
.speaker_row{
	margin-bottom: 30px;
}

/* Speaker img */

.ts-speaker-image {
    position: relative;
    text-align: center;
    padding: 20px;
}

.ts-speaker-image2 {
    position: relative;
    text-align: center;
	padding-top: 20px;
	padding-left: 10px;
}

.ts-speaker-image img {
    border-radius: 50%;
    width: 100%;
    box-shadow: 1px 4px 12px 3px #ccc;
    transition: 400ms;
}
/*.ts-speaker-image:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    background: rgba(41, 41, 41, .7);*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    opacity: 0;*/
/*    border-radius: 50%;*/
/*    margin: 20px;*/
/*    -webkit-transition: 400ms;*/
/*    -moz-transition: 400ms;*/
/*    -o-transition: 400ms;*/
/*    transition: 400ms;*/
/*}*/
/*.ts-speaker-image .social-links {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    margin-top: -40px;*/
/*    left: 50%;*/
/*    margin-left: -45px;*/
/*    z-index: 1;*/
/*    width: 96px;*/
/*    opacity: 0;*/
/*    -webkit-transition: 400ms;*/
/*    -moz-transition: 400ms;*/
/*    -o-transition: 400ms;*/
/*    transition: 400ms;*/
/*}*/
.ts-speaker-image .social-links li {
    display: inline-block;
    margin: 0 -3px 0px -2px;
}
.ts-speaker-image .social-links li a:hover{
	text-decoration: none;
}
.ts-speaker-image .social-links li a i {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #fff;
    background: #2b2b2b;
    text-align: center;
}
.ts-speaker-image .social-links li a i.fa-facebook-f{
    background: #496daf;
}
.ts-speaker-image .social-links li a i.fa-twitter {
    background: #64acf1;
}
.ts-speaker-image .social-links li a i.fa-instagram {
    background: #d32a1e;
}
.ts-speaker-image .social-links li a i.fa-linkedin-in {
    background: #0077b5;
}
.ts-speaker-image .social-links li a i.fa-envelope {
    background: #1d6738;
}
.ts-speaker-image .social-links li a i:hover {
    background: #0c132c;
}
.ts-speaker-info {
    padding: 15px 20px 5px 20px;
    text-align: center;
}
.ts-speaker-info .ts-speaker-name {
    font-size: 22px;
    margin: 0 0 3px 0;
}
.ts-speaker-info .ts-speaker-name a {
    color: #1d6738;
    font-weight: bold;
    transition: 400ms;
}
.ts-speaker-info .ts-speaker-name a:hover{
	text-decoration: none;
}
.ts-speaker-info .ts-speaker-designation {
	color: #0c132c;
    font-size: 14px;
    font-family: Roboto;
}
.ts-speaker:hover{
	box-shadow: 5px 6px 10px 1px #ccc;
	background-color: #fff;
}
.ts-speaker:hover .ts-speaker-image img{
	box-shadow: none;
}
.ts-speaker:hover .ts-speaker-info .ts-speaker-name a{
	color: #b9ce33;
}
.ts-speaker:hover .ts-speaker-image:after,
.ts-speaker:hover .ts-speaker-image .social-links {
    opacity: 1;
}
/* Speakers list */

.ts-speaker-list {
    margin-bottom: 60px;
}
.ts-speaker-list.last .ts-speaker-info {
    border-bottom: 0;
    padding-bottom: 0;
}
.ts-speaker-session .session-title {
    font-weight: 700;
}
.ts-speaker-social-links {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.ts-speaker-social-links li {
    display: inline-block;
}
.ts-speaker-social-links li a {
    color: #303030;
    margin-right: 10px;
    font-size: 16px;
}
.modal-speaker-info{
	padding: 0 15px 0 10px;
}
.modal-speaker-img img{
	border-radius: 5px;
}
.modal-speaker-info .modal-speaker-name{
	font-size: 1.6em;
	font-family: Roboto;
	font-weight: 700;
	color: #1d6738;
}
.modal-speaker-info .modal-speaker-designation{
	font-size: 17px;
	font-family: Roboto;
	margin-bottom: 20px;
}
.modal-speaker-info .modal-speaker-description{
	font-size: 14px;
	font-family: Roboto;
}
.modal-speaker-info .modal-speaker-links a{
	margin-right: 6px;
}
.modal-speaker-info .modal-speaker-links a i{
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
}
.modal-speaker-info .modal-speaker-links a #linkedin{
	background-color: #0077b5;
}
.modal-speaker-info .modal-speaker-links a #facebook{
	background-color: #496daf;
}
.modal-speaker-info .modal-speaker-links a #twitter{
	background-color: #64acf1;
}
.modal-speaker-info .modal-speaker-links a #instagram{
	background-color: #d32a1e;
}
.modal-speaker-info .modal-speaker-links a #linkedin:hover, .modal-speaker-info .modal-speaker-links a #facebook:hover, .modal-speaker-info .modal-speaker-links a #twitter:hover, .modal-speaker-info .modal-speaker-links a #instagram:hover{
	background: #b9ce33;
	color: #1d6738;
}
.modal-footer{
	border-top: 0;
}
.modal-footer button{
	margin: 0 auto;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 12px 100px;
	background: #1d6738;
	border: none;
	border-radius: 25px;
	transition: 0.3s;
}
.modal-footer button:hover{
	background: #0c132c;
}
.modal-footer button:active, .modal-footer button:focus{
	box-shadow: none;
}
/* =======================Partners section styles ======================== */

#ts-sponsors{
	padding: 70px;
	background: linear-gradient(150deg, #fff 50%, #f4f4f4 50%);
	background-size: 170%;
	background-position: 30%;
}
#ts-sponsors .partner_titles{
	display: block;
	text-align: center;
}
.sponsor-title{
	font-family: Montserrat;
	font-weight: 500;
	text-align: center;
	padding-top: 15px;
}
.sponsor-img-div{
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	border:0;
}
.sponsor-img-div .sponsor-img{
	width: 65%;
	margin: 0 auto 25px;
	padding: 40px;
	border-radius: 50%;	
	box-shadow: 1px 5px 8px 1px #ccc;
	background-color: #fff;
	transition: 0.3s ease;
}
.sponsor-img img{
	width: 100%;
	filter: gray;
	-webkit-filter: grayscale(1);
	-webkit-transition: all 0.4s ease-in-out;
}
.sponsor-img:hover img{
	filter: none;
	-webkit-filter: grayscale(0);
}
/* Slider */
.slick-slide {
    margin: 0px 0px;
}
.slick-slide img {
    width: 100%;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.customer-logos{
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 1px 3px 9px 1px #eee;
}
.customer-logos .slide{
	width: 100%;
	padding: 40px 10px;
	margin: 0;
}
.customer-logos .slide .slide-content{
	padding: 20px;
	border-radius: 13px;
	border: 1px solid transparent;
}
.customer-logos .slide:hover .slide-content{
	border: 1px solid #ccc;
}
.customer-logos .slide img{
	filter: gray;
	-webkit-filter: grayscale(1);
	-webkit-transition: all 0.4s ease-in-out;
}
.customer-logos .slide h6{
	margin-bottom: 0;
}
.customer-logos .slide:hover img{
	filter: none;
	-webkit-filter: grayscale(0);
}
#left-customers-gradient-div, #right-customers-gradient-div{
	position: absolute;
	width: 110px;
	height: 253px;
	z-index: 9999;
}
#left-customers-gradient-div{
	background: linear-gradient(to right, rgb(255,255,255), rgba(255,255,255,0.7), rgba(255,255,255,0));
	border-radius: 15px 0 0 15px;	
}
#right-customers-gradient-div{
	right: 8.8%;
	top: 735%;
	background: linear-gradient(to left, #fff, rgba(255,255,255,0.5), rgba(255,255,255,0));	
	border-radius: 0 15px 15px 0;
}
.gap_div{
	margin-right: 45px;
}
.general-btn-div{
	margin: 30px auto 0 auto;
}
.general_btn{
	font-family: Open Sans;
	font-size: 16px;
	font-weight: bold;
	background: #b9ce33;
	border: 2px solid #b9ce33;
	border-radius: 8px;
	padding: 11px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.3s ease;
}
.general_btn:hover{
	background: #1d6738;
	border: 2px solid #1d6738;
}

/* ====================== Delegates section ============================= */

.ts-pricing {
    background-color: #0c132c;
    background-image: url(../images/parallax3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 130px 0;
}
.banner-btn{
	text-align: center;
	margin-top: 10px;
}
.banner-btn a{
	font-family: Open Sans;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.8px;
	padding: 15px 25px;
	background: #177496;
	border: 2px solid #177496;
	border-radius: 10px;
	transition: 0.3s;
}
.banner-btn a:hover{
	text-decoration: none;
	color: #b9ce33;
	background: #0c132c;
	border: 2px solid #177496;
}

/* ============================== News section styles ====================== */

#blog{
	padding: 70px 0;
	background: linear-gradient(150deg, #f4f4f4 50%, #fff 50%);
	background-size: 180%;
	background-position: 45%;
}
.news_titles{
	display: block;
	text-align: center;
}
.latest-post-media {
    position: relative;
}
.latest-post-img img{
	border-radius: 12px;
	width: 100%;
	box-shadow: 1px 4px 9px 2px #ccc;
}
.latest-post-media .post-item-date {
    position: absolute;
    background: #1d6738;
    color: #fff;
    top: 15px;
    left: 15px;
    text-align: center;
    padding: 0px;
    border: 2px solid #b9ce33;
    border-radius: 100%;
    width: 52px;
    height: 52px;
}
.latest-post-media .post-item-date .day {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -8px;
}
.latest-post-media .post-item-date .month{
	font-family: Roboto;
	font-size: 14px;
}
.latest-post .post-title {
	font-family: Open Sans;
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 10px;
    font-weight: 700;
}
.latest-post .post-title a {
    color: #0c132c;
    transition: 0.3s;
}
.latest-post .post-title a:hover {
    color: #b9ce33;
    text-decoration: none;
}
.latest-post .post-item-author {
    margin-left: 8px;
}
.latest-post .post-body {
	text-align: center;
    padding: 20px 0 5px;
}

/* ============================== Newsletter section styles ==================== */

.ts-newsletter{
    background: url(../images/pattern3.png);
    background-attachment: fixed;
    padding: 100px 0;
}
.newsletter-form {
    width: 650px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.newsletter-form h3 {
    color: #fff;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
}
.newsletter-form form {
    position: relative;
}
.newsletter-form input {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    text-transform: capitalize;
    height: 50px;
    background: #000;
    background: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 25px 0 0 25px;
}
.newsletter-form input:focus{
	background: rgba(0,0,0,0.35);
	border: 1px solid #1d6738;
    box-shadow: none;
}
.newsletter-form button {
    position: absolute;
    top: 0;
    right: -50px;
    border-radius: 0 25px 25px 0;
    padding: 15px 40px;
    height: 50px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 20px;
    background: #1d6738;
    border: 0 !important;
}
.newsletter-form button:hover{
	background: #0c132c;
}

/* ---------- Ul, Ol ----------- */

.list-arrow{
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}
.list-arrow {
    padding: 0;
}
.list-arrow li{
	line-height: 24px;
}
.list-arrow li i{
	color: #b9ce33;
	margin-right: 5px;
}

.bg-overlay {
    position: relative;
}
.bg-overlay .container {
    position: relative;
    z-index: 1;
}
.bg-overlay:after {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* ================== venue section styles =================== */

#ts-venue{
	/*padding: 100px 0;*/
	width: 100%;
	display: inline-flex;
	overflow: hidden;
}
.venue-items{
	position: relative;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.venue-items img{
	width: 100%;
}
.venue-item-content{
	padding: 150px 0;
	background-color: rgba(0,0,0,0.6);
	transition: 0.3s;
}
.venue-items:hover .venue-item-content{
	background-color: rgba(0,0,0,0.3);
}
.venue-items:hover .venue-item-content a{
	text-shadow: 2px 2px 2px #000;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.venue-item-content a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.3s;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}
#item1{
	text-align: left;
}
#item1::before{
	position: absolute;
  	z-index: -1;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	content: "";
	background-image: url(../images/loc1.jpg);
	background-position: bottom right;
	transition: 0.3s;
}
#item2{
	position: absolute;
	width: 50%;
	left: 24.5%;
	text-align: center;
	clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
	-ms-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%) !important;
	z-index: 1;
}
#item2::before{
	position: absolute;
  	z-index: -1;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	content: "";
	background-image: url(../images/transport.jpg);
	background-position: center;
	transition: 0.3s;	
}
#item3{
	text-align: right;
}
#item3::before{
	position: absolute;
  	z-index: -1;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	content: "";
	background-image: url(../images/room1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.3s;
}
#item1:hover::before, #item2:hover::before, #item3:hover::before{
	filter: blur(3px);
	-webkit-filter: blur(3px);
}
#item1 .venue_container{
	width: 60%;
	margin: 0 auto;
}
#item3 .venue_container{
	width: 70%;
	margin: 0 auto;
}
#ts-venue .venue_titles{
	display: block;
	text-align: center;
}
.venue-info-content{
	text-align: center;
}
.venue-info-content .venue-info-title{
    color: #444;
    margin: 20px 0 10px;
}
.venue-info-icon{
	color: #1d6738;
}
.venue-info-title{
	color: #fff;
	font-weight: bold;
	font-family: Montserrat;
	/*margin: 40px 0;*/
}
.venue-info-content .venue-info-text{
	font-size: 14px;
	font-family: Roboto;
	line-height: 25px;
}
.vanue_modal_body{
	color: #fff;
	padding: 50px 50px 10px;
	text-align: center;
}
.modal_slider_div{
	width: 65%;
	margin: 0 auto;
}
.modal-header{
    color: #fff;
    text-align: center;
    border-bottom: none !important;
    padding: 2rem 2rem 0 !important;
}
.modal-header h1{
    text-align: center;
	text-transform: uppercase;
	font-family: Montserrat;
}
.modal-header button{
    color: #fff;
    font-size: 35px !important;
}
.vanue_modal_body p{
	font-family: Open Sans;
}
#location_carousel img, #transport_carousel img, #acco_carousel img{
	border-radius: 10px;
}

/*======================== Code of conduct ==========================*/

.coc-content{
	width: 60%;
	margin: 0 auto;
}
.coc-content h4{
	font-weight: bold;
	font-family: Montserrat;
}
.coc-content ul li{
	font-size: 17px;
	font-family: Roboto;
}
.coc-content p{
	text-align: justify;
	font-size: 15px;
	font-family: Roboto;
}
.coc-content p span{
	color: red;
}

/* ===================== Footer section styles ========================= */

#footer{
	background-color: #0c132c;
	background: url(../images/footer1.jpg) right center;
	background-size: cover;
	/*background-attachment: fixed;*/
}
.footer .container{
	z-index: 10;
	position: relative;
}
.footer-pattern{
	padding: 70px 0;
	/*background: url(../images/pattern7.png) no-repeat top;
	background-size: cover;*/
}
.footer-social ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-social ul li{
	display: inline-block;
	margin: 45px 15px;
}
.footer-social ul li a i{
	color: #b9ce33;
	transition: 0.3s ease;
}
.footer-social ul li a i.fa-instagram:hover {
    color: #d32a1e;
}
.footer-social ul li a i.fa-facebook-f:hover {
    color: #677fb5;
}
.footer-social ul li a i.fa-rss:hover {
    color: #ee802f;
}
.footer-social ul li a i.fa-twitter:hover {
    color: #70c2e9;
}
.footer-social ul li a i.fa-google-plus:hover {
    color: #c53942;
}
.footer-social ul li a i.fa-linkedin:hover {
    color: #3daccf;
}
.footer-menu a {
    background: none;
    color: #999;
    padding: 0 15px;
    font-size: 13px;
    font-family: Roboto;
    text-transform: uppercase;
    border-right: 1px solid #555;
}
.footer-menu a:last-child{
    border-right: 0;
}
.footer-menu a:hover {
    color: #fff;
    text-decoration: none;
}
.copyright-info{
	margin: 40px 0 10px 0;
	color: #666;
	font-size: 14px;
	font-family: Roboto;
}
.copyright-info a{
	color: #b9ce33;
}
.copyright-info a:hover{
	text-decoration: none;
	-webkit-animation: fadeIn 0.7s ease-in infinite;
}

/* Page banner area */

.page-banner-area {
    position: relative;
    top: -100px;
    min-height: 450px;
    color: #fff;
    background-position: 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}
.page-banner-title {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
}
.page-banner-title h2 {
    color: #fff;
    font-size: 60px;
    font-family: Roboto;
    font-weight: 700;
}
.page-banner-title .breadcrumb {
    background: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.page-banner-title .breadcrumb a:hover {
    color: #ccc;
}
.breadcrumb {
    padding: 0;
    background: none;
}
.breadcrumb a:hover {
    color: #fff;
}
.breadcrumb>li {
    font-weight: 400;
}

/* ================================= about.php page styles ========================================= */
.venue-container{
	width: 85%;
	margin: 0 auto;
}
/*------ about congress section styles ------ */
.about-congress{
	padding: 0 0 40px 0;
}
/*Timeline styles*/
.timeline-div{
	width: 80%;
	margin: 0 auto 80px;
	text-align: center;
}
.timeline-div-content{
	display: flex;
}
.timeline-div-content .year-div{
	background-color: #1d6738;
	padding: 10px;
	margin: 0 auto 10px;
	border-radius: 50%;
	box-shadow: 0px 5px 10px -3px #333;
	-webkit-transition: all 0.3s ease-in-out;
	overflow: hidden;
	z-index: 1
}
.timeline-div-content .year-div:hover{
	transform: scale(1.2);
	box-shadow: 1px 2px 10px -3px #333;
}
.timeline-div-content .year-div a:hover{
	text-decoration: none;
}
.timeline-div-content .year-div img{
	width: 65px;
	height: 65px;
}
.timeline-div-content .yr-text{
	color: #555;
	font-size: 1.3em;
	font-family: Montserrat;
	font-weight: 500;
}
.timeline-div-content #y13{
	background-color: #0d2d80;
}
.timeline-div-content #y14{
	background-color: #5cc9f7;
}
.timeline-div-content #y15{
	background-color: #f7a014;
}
.timeline-div-content #y16{
	background-color: #dbd21a;
}
.timeline-div-content #y17{
	background-color: #2bb1bd
}
.timeline-div-content #y18{
	background-color: #d90d6f;
}
.timeline-div-content #y19{
	background-color: #b9ce33;
}
.timeline-div-content .straght-line{
	position: relative;
	top: 40px;
	width: 5%;
	margin: 0 5px;
	border-top: 3px solid #aaaa;
	z-index: -1;
}
.timeline-div-content .vertical-line{
	display: none;
	margin: 5px 50%;
	height: 40px;
	border-left: 3px solid #aaaa;
}
.title-classic{
	font-family: Roboto;
	font-weight: 700;
	margin-bottom: 20px;
}
.feature-title{
	font-size: 20px;
	font-family: Roboto;
	font-weight: 700;
}
.sppb-cta-text, .feature-box-content p{
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	color: #333;
}
.sppb-cta-text{
	padding-right: 30px;
}
.about_blockquote blockquote{
	font-size: 14px;
	font-style: italic;
	border-left: 4px solid #b9ce33;
	padding: 10px 30px 10px 15px;
}
.feature-box .feature-box-icon{
	float: left;
}
.feature-box{
	margin-bottom: 35px;
}
.feature-box-content{
	margin-left: 105px;
}
.feature-box-icon i{
	color: #b9ce33;
	font-size: 1.7em;
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	background: #1d6738;
	border-radius: 50%;
	transition: 0.3s;
}
.feature-box:hover .feature-box-icon i{
	color: #1d6738;
	background: #b9ce33;
}
/* ------------------- about congress tracks section styles ------------------*/
.about-tracks{
	padding: 100px 0;
}
.congress_tracks_titles{
	display: block;
	text-align: center;
}
.ts-speaker-list1{
	margin: 40px 0;
}
.ts-speaker-image1{
	margin-top: 20px;
}
.ts-speaker-image1 img{
	width: 100%;
	border-radius: 10px;
}
.ts-speaker-name1{
	font-family: Roboto;
	font-weight: 700;
}
.ts-speaker-info1 .ts-speaker-designation1{
	color: #777;
	font-size: 15px;
	font-family: Roboto;
	margin-bottom: 20px;
}
.ts-speaker-bio1{
	font-family: Roboto;
	font-size: 14px;
	line-height: 23px;
}
/* -------------------- about congress venue section styles --------------------- */
.about-venue-section{
	padding: 100px 0 70px 0;
	background-color: #f7f7f7;
}
.about_venue_titles{
	display: block;
	text-align: center;
}
.contact-info-box{
	margin-bottom: 25px;
}
.contact-info-box i{
	float: left;
	margin: 0 25px 0 10px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #1d6738;
	color: #b9ce33;
	font-size: 20px;
	text-align: center;
	padding-left: 5px;
	border-radius: 50%;
	transition: 0.3s;
}
.contact-info-box .contact-info-box-content{
	padding-left: 85px;
}
.contact-info-box-content h4{
	font-size: 19px;
	font-family: Roboto;
	font-weight: 700;
}
.contact-info-box-content p, .more_about_venue p{
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
	color: #444;
}
.contact-info-box-content a{
	color: #1d6738;
}
.contact-info-box-content a:hover{
	color: #b9ce33;
	text-decoration: none;
}
.more_about_venue_row{
	margin: 40px 0;
}
.more_about_venue_row .intro-video{
	margin-top: 40px;
}
.more_about_venue{
	padding-left: 30px;
}
/* ----------------- about congress map section styles ----------------- */
.mapouter iframe{
	border-radius: 7px;
	border: 2px solid #b9ce33;
}
/* ----------------- about congress accomodation section styles ---------- */
.venu-info-content{
	text-align: center;
}
.venue-info-content .venue-info-icon i{
	margin: 40px 0 0 0;
	color: #1d6738;
	font-size: 2.6em;
}

/* ===========================Schedule.php styles ============================== */

#schedule-section{
	padding: 0 0 80px 0;
}
.schedule_titles{
	display: block;
	text-align: center;
}
/*--------schedule tabs ------*/
.schedule_tabs{
	padding-left: 15px;
}
.schedule_tabs{
	width: 85%;
	margin: 0 auto;
}
.schedule_tabs ul{
	width: 45.5%;
	margin: 0 auto;
}
.schedule_tabs #pills-tab{
	border:0;
}
.schedule_tabs #pills-tab li a{
	color: #fff;
	background: #0c132c;
	font-size: 16px;
	font-weight: bold;
	border-radius: 30px;
	padding: 10px 30px;
	margin-right: 15px;
	transition: all 0.3s ease;
}
.schedule_tabs #pills-tab li a.active{
	background: #1d6738;
}
.speakers_set{
	padding-left: 20px;
}
.schedule-date{
	color: #b9ce33;
	font-family: Roboto;
	font-weight: 700;
	font-size: 1.5em;
	text-align: center;
	margin: 50px 0 40px 0;
}
.schedule_day_topic{
	color: #0c132c;
	font-family: Roboto;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}
.schedule-listing{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px 40px;
	margin-bottom: 10px;
}
.bg{
	background: #f2f2f2;
}
.schedule-slot-info{
	padding-left: 30px;
}
.schedule-slot-time, .schedule-slot-title{
	color: #0c132c;
	font-size: 14px;
	font-family: Roboto;
	font-weight: 700;
}
.item_details small{
	font-size: 12px;
	font-family: Roboto;
	font-weight: 700;
}
.duration_span{
	margin: 5px 0;
}
.duration{
	background: #b9ce33;
	border-radius: 10px;
	padding: 5px 10px;
}
.schedule-slot-title{
	font-size: 1.3em;
}
.schedule-slot-desc{
	color: #555;
	font-family: Roboto;
}
.schedule-slot-speakers{
	width: 60px;
	height: 60px;
	border-radius: 10px;
	margin-top: 15px;
}
.schedule-slot-speaker-name{
	font-size: 16px;
	font-family: Roboto;
	font-weight: 700;
	color: #a6ba27;
}

/* ========================== Partners.php styles ============================= */

#partners_sec{
	padding: 0 0 80px 0;
}
.partners_titles{
	display: block;
	text-align: center;
}
#contact-form{
	font-size: 14px;
	font-family: Roboto;
}
#contact-form input, #contact-form textarea, #contact-form select{
	border-radius: 0;
	color: #777;
	font-size: 14px;
}
#contact-form input:focus, #contact-form textarea:focus, #contact-form select:focus{
	border-color: #b9ce33;
	box-shadow: none;
}
#contact-form button{
	font-size: 13px;
	font-family: Roboto;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 10px 20px;
	background: #1d6738;
	border: none;
	border-radius: 30px;
	transition: 0.4s;
}
#contact-form button:hover{
	background: #0c132c;
}
.accordion > .card:not(:first-of-type):not(:last-of-type), .accordion > .card:first-of-type, .accordion > .card:last-of-type{
	border-bottom: 1px solid #ccc;
}{
	border-bottom: 1px solid #ccc;
}{
	border-bottom: 1px solid #ccc;
}
.accordion .card{
	border-radius: 0;
	margin-bottom: 10px;
}
.card-header{
	background: #fff;
}
.card-header button{
	color: #1d6738;
	font-size: 17px;
	font-family: Roboto;
	font-weight: 700;
}
.card-header button:hover, .card-header button:focus{
	text-decoration: none;
	color: #1d6738;
}
.card-body{
	color: #555;
	font-size: 14px;
	font-family: Roboto;
	margin-left: 15px;
}
.card-body .collapse_content{
	color: #666;
	font-size: 14px;
	font-family: Roboto;
	padding: 3px 15px;
}
.package_sec{
	width: 70%;
	margin: 0 auto;
}
.package_sec img{
	width: 100%;
}
.packages_download_link{
	color: #b9ce33;
	font-size: 14px;
	font-family: Roboto;
	font-weight: 700;
	letter-spacing: 0.6px;
	background: #1d6738;
	padding: 15px 30px;
	border-radius: 25px;
	transition: 0.3s;
}
.packages_download_link:hover{
	text-decoration: none;
	background: #0c132c;
	color: #b9ce33;
}
.sponsor-details{
	padding: 0 15px;
	text-align: center;
}
.sponsor-details .sponsor-name{
	color: #b9ce33;
	font-family: Roboto;
	font-weight: 700;
	margin-top: 15px;
}
.sponsor-details p{
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
}
.sponsor-details .sponsor-web-link a{
	margin-right: 6px;
}
.sponsor-details .sponsor-web-link a i{
	color: #b9ce33;
	background: #1d6738;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
}

/* ===========================teams.php styles ============================== */

#team_section{
	width: 100%;
	height: 100%;
	padding: 0 0 80px;
	background: linear-gradient(140deg, #fff 50%, #f4f4f4 50%);
}
.year-links{
	background-image: linear-gradient(to right, #fff, #b9ce33, #b9ce33, #fff);
	background-color: #b9ce33;
	padding: 16px 0;
	text-align: center;
	margin-bottom: 100px;
}
.year-links a{
	font-family: Montserrat;
	font-weight: 700;
	font-size: 25px;
	color: #fff;
	background-color: #1d6738;
	clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 25% 100%, 8% 50%, 25% 0%);
	padding: 20px 30px;
	transition: 0.3s;
}
.year-links a:hover{
	text-decoration: none;
	color: #b9ce33;
}
.team_container{
	width: 90%;
	margin: 0 auto;
}
.team_titles{
	display: block;
	text-align: center;
}
.teams_tabs_content{
    width: 100%;
    margin: 0 auto;
}
.teams_tabs{
	width: 100%;
	margin: 0 auto;
}
.teams_tabs ul{
	width: 100%;
	margin: 0 auto;
}
.team_tabs ul li{
    width:100%;
    margin: 0 auto;
}
.teams_tabs #pills-tab{
    width:100%;
	border:0;
}
.teams_tabs #pills-tab li a{
	color: #fff;
	background: #0c132c;
	font-size: 12px;
	font-family: Roboto;
	font-weight: bold;
	letter-spacing: 0.6px;
	border-radius: 30px;
	padding: 10px 20px;
	margin-right:16.5px;
	/*margin: 0 5px;*/
	transition: all 0.3s ease;
	text-transform: uppercase;
}
.teams_tabs #pills-tab li a.active{
	background: #1d6738;
}
/* member item */
.team_tab_sec{
	width: 100%;
	margin: 0 auto;
}
.ts-member {
    background: transparent;
    position: relative;
    border-radius: 10px;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
    transition: 0.3s;
}
.ts-member:hover {
	background: #fff;
	box-shadow: 1px 6px 9px 1px #ccc;
}
.ts-member:hover .ts-member-image > img{
	box-shadow: none;
}
.ts-member:hover .ts-member-info .ts-member-name a{
	color: #b9ce33;
}
/* members row */
.member_row{
	margin-bottom: 30px;
}

/* member img */

.ts-member-image {
    /*position: relative;*/
    text-align: center;
}

.ts-member-image2 {
    position: relative;
    text-align: center;
	padding-top: 20px;
	padding-left: 10px;
}
.ts-member-image{
	padding: 25px 25px 10px;
}
.ts-member-image > img {
    border-radius: 50%;
    box-shadow: 1px 4px 13px 1px #aaa;
    width: 100%;
    transition: 0.3s;
}
/*.ts-member-image:after {
    content: '';
    position: absolute;
    background: rgba(41, 41, 41, .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 5px 5px 0 0;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}*/
.ts-member-image .social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -45px;
    z-index: 1;
    width: 96px;
    opacity: 0;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}
.ts-member-image .social-links li {
    display: inline-block;
    margin: 0 -3px 0px -2px;
}
.ts-member-image .social-links li a:hover{
	text-decoration: none;
}
.ts-member-image .social-links li a i {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #fff;
    background: #2b2b2b;
    text-align: center;
}
.ts-member-image .social-links li a i.fa-facebook-f{
    background: #496daf;
}
.ts-member-image .social-links li a i.fa-twitter {
    background: #64acf1;
}
.ts-member-image .social-links li a i.fa-instagram {
    background: #d32a1e;
}
.ts-member-image .social-links li a i.fa-linkedin-in {
    background: #0077b5;
}
.ts-member-image .social-links li a i.fa-envelope {
    background: #1d6738;
}
.ts-member-image .social-links li a i:hover {
    background: #0c132c;
}
.ts-member-info {
    padding: 15px 20px 5px 20px;
    color: #303030;
}
.ts-member-info .ts-member-name {
    font-size: 22px;
    margin: 0 0 10px 0;
}
.ts-member-info .ts-member-name a {
    color: #1d6738;
    font-weight: bold;
    transition: 0.3s;
}
.ts-member-info .ts-member-name a:hover{
	text-decoration: none;
}
.ts-member-info .ts-member-designation {
	color: #555;
    font-size: 13px;
    font-family: Roboto;
}
.ts-member:hover .ts-member-image:after,
.ts-member:hover .ts-member-image .social-links {
    opacity: 1;
}
.modal-member-image{
	padding: 20px 20px;
}
.modal-member-image img{
	width: 100%;
	border-radius: 50%;
}
.modal-member-info{
	text-align: center;
}
.modal-member-name{
	font-family: Montserrat;
	font-weight: bold;
}
.modal-social-links{
	text-align: center;
	margin: 40px 30px 20px;
}
.modal-social-links i{
	color: #fff;
}
.linkedin{
	width: 30px;
	height: 30px;
	margin: 0 10px;
	padding: 10px 14px;
	border-radius: 50%;
	background-color: #0e76a8;
}
.facebook{
	width: 30px;
	height: 30px;
	margin: 0 10px;
	padding: 10px 16px;
	border-radius: 50%;
	background-color: #3b5998;
}
.email{
	width: 30px;
	height: 30px;
	margin: 0 10px;
	padding: 10px 13px;
	border-radius: 50%;
	background-color: green;
}
.teams_tabs #pills-tab{
	width: 100%;
}
.teams_tabs #pills-tab li{
	margin: 0;
}
/* ============================ faqs.php styles ================================= */

.faq_comment{
	padding-left: 20px;
}
.widget-title{
	font-size: 20px;
	font-family: Roboto;
	font-weight: 700;
	padding: 15px 0;
	border-bottom: 3px solid #b9ce33;
}

/* ============================ contact.php styles ================================= */

.inquiry_para{
	font-family: Roboto;
	font-size: 15px;
	color: #555;
}
.map-div{
	height: 450px;
}

/* ============================ Registration.php styles ================================ */

#register-form{
	font-size: 14px;
	font-family: Roboto;
}
.reg-form-content{
    width: 68%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px 40px 20px;
    box-shadow: 0px 6px 14px 1px #ddd;
}
#register-form label small{
    color: #999;
}
.reg-form-title-divider{
    width: 25%;
    margin: 15px auto 30px;
    border-top: 4px solid #b9ce33;
}
#register-form input, #register-form textarea, #register-form select{
	border-radius: 0;
	color: #777;
	font-size: 14px;
}
#register-form input:focus, #register-form textarea:focus, #register-form select:focus{
	border-color: #b9ce33;
	box-shadow: none;
}
#register-form button{
	font-size: 13px;
	font-family: Roboto;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 10px 20px;
	background: #1d6738;
	border: none;
	border-radius: 30px;
	transition: 0.4s;
}
#register-form button:hover{
	background: #0c132c;
}

/* ================================ back to top ================================ */
#back-to-top {
	position: fixed;
    left: 40px;
    top: auto;
    z-index: 10;
    display: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
#back-to-top.affix {
    bottom: 30px;
}
#back-to-top .btn.btn-primary {
    width: 48px;
    height: 48px;
    line-height: 40px;
    background-color: #b9ce33;
    border: 0;
    border-radius: 100%;
    font-weight: bold;
    font-size: 20px;
    padding: 0;

}
#back-to-top .btn.btn-primary:hover {
    color: #fff;
    background: #1d6738;
}
#back-to-top .btn.btn-primary:focus {
    box-shadow: inset 0 -1px 0;
}

/* ========================= Animation ================================ */

.animated1 {} .carousel .item.active .animated2 {
    -webkit-animation: slideInLeft .5s ease-in 300ms both;
    animation: slideInLeft .5s ease-in 300ms both;
}
.animated3 {
    -webkit-animation: fadeInLeft 1.5s ease-in-out 300ms both;
    animation: fadeInLeft 1.5s ease-in-out 300ms both;
}
.animated4 {
    -webkit-animation: lightSpeedIn 1.5s ease-in 300ms both;
    animation: lightSpeedIn 1.5s ease-in 300ms both;
}
.animated5 {
    -webkit-animation: bounceInDown 1s ease-in-out 100ms both;
    animation: bounceInDown 1s ease-in-out 100ms both;
}
.animated6 {
    -webkit-animation: fadeInRight 1s ease-in 200ms both;
    animation: fadeInRight 1s ease-in 200ms both;
}
.animated7 {
    -webkit-animation: fadeInRight 1.5s ease-in 300ms both;
    animation: fadeInRight 1.5s ease-in 300ms both;
}
.animated8 {
    -webkit-animation: bounceInDown 1s ease-in 800ms both;
    animation: bounceInDown 1s ease-in 800ms both;
}
.animated9 { 
	-webkit-animation: fadeInUp 1.1s ease-in 200ms both;
	animation: fadeInUp 1.1s ease-in 200ms both;
}